.track {
    width: 1000px;
    height: 500px;
    background-color: #eee;
    position: relative;
    border: 1px solid #aaa;
}

.beaver {
    width: 50px;
    height: 500px;
    position: absolute;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/beaver1.png');
}

@keyframes growShrink {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.winnerOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.winningBeaverImage {
    animation: growShrink 2s infinite; /* Grow and shrink animation */
    width: 150px; /* Larger size */
    height: 150px;
}

.blinkingText {
    animation: blink 1s infinite; /* Blinking animation */
    color: rgb(17, 10, 219);
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px; /* Spacing from the image */
}
