.track {
    width: 1000px;
    height: 500px;
    background-color: #eee;
    position: relative;
    border: 1px solid #aaa;
}

.beaver {
    width: 50px;
    height: 500px;
    position: absolute;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/beaver1.png');
}

@keyframes growShrink {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}

@keyframes blink {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.winnerOverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.winningBeaverImage {
    animation: growShrink 2s infinite; /* Grow and shrink animation */
    width: 150px; /* Larger size */
    height: 150px;
}

.blinkingText {
    animation: blink 1s infinite; /* Blinking animation */
    color: rgb(17, 10, 219);
    font-size: 2em;
    font-weight: bold;
    margin-top: 20px; /* Spacing from the image */
}

@keyframes wave-flag {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    20% {
        transform: rotate(10deg);
    }
    30% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.finish-line {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 10px;
    background-image: linear-gradient(
            45deg,
            #fff 25%,
            transparent 25%,
            transparent 75%,
            #fff 75%,
            #fff
        ),
        linear-gradient(45deg, #fff 25%, #000 25%, #000 75%, #fff 75%, #fff);
    background-position: 0 0, 5px 5px;
    background-size: 10px 10px;
}

.flag {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50px;
    height: 30px;
    background: url('/racing_flag.png') no-repeat;
    background-size: cover;
    animation: wave-flag 1s infinite;
}
