.track {
    width: 800px;
    height: 400px;
    background-color: #eee;
    position: relative;
    border: 1px solid #aaa;
}

.beaver {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('/beaver1.png');
}

/* .beaver1 {
    background-image: url('/beaver1.png');
    top: 20px;
}

.beaver2 {
    background-image: url('/beaver2.png');
    top: 80px;
}
.beaver3 {
    background-image: url('/beaver2.png');
    top: 120px;
}
.beaver4 {
    background-image: url('/beaver2.png');
    top: 220px;
} */
